<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>DZCMainTableViewController</string>
	<string>DZCNewshotTableViewController</string>
	<string>DZCnewsLocalTableViewController</string>
	<string>DZCVideoTableViewController</string>
	<string>DZCPhotosTableViewController</string>
	<string>DZCEntertainmentTableViewController</string>
	<string>DZCnewsTechTableViewController</string>
	<string>DZCnewsCarTableViewController</string>
	<string>DZCFinanceTableViewController</string>
	<string>DZCMilitaryTableViewController</string>
	<string>DZCSportsTableViewController</string>
	<string>DZCWorldTableViewController</string>
	<string>DZChealthTableViewController</string>
	<string>DZCHouseTableViewController</string>
	<string>DZCCultureTableViewController</string>
</array>
</plist>
