<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>viewcontroller</key>
		<string>DZCMainTableViewController</string>
		<key>category</key>
		<string></string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCNewshotTableViewController</string>
		<key>category</key>
		<string>news_hot</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCnewsLocalTableViewController</string>
		<key>category</key>
		<string>news_local</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCVideoTableViewController</string>
		<key>category</key>
		<string>video</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCPhotosTableViewController</string>
		<key>category</key>
		<string></string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCEntertainmentTableViewController</string>
		<key>category</key>
		<string>news_entertainment</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCnewsTechTableViewController</string>
		<key>category</key>
		<string>news_tech</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCnewsCarTableViewController</string>
		<key>category</key>
		<string>news_car</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCFinanceTableViewController</string>
		<key>category</key>
		<string>news_finance</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCMilitaryTableViewController</string>
		<key>category</key>
		<string>news_military</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCSportsTableViewController</string>
		<key>category</key>
		<string>news_sports</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCWorldTableViewController</string>
		<key>category</key>
		<string>news_world</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZChealthTableViewController</string>
		<key>category</key>
		<string>news_health</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCHouseTableViewController</string>
		<key>category</key>
		<string>news_house</string>
	</dict>
	<dict>
		<key>viewcontroller</key>
		<string>DZCCultureTableViewController</string>
		<key>category</key>
		<string>traditional_culture</string>
	</dict>
</array>
</plist>
