<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ViewController</key>
		<string>DZCMainnewsViewController</string>
		<key>Image</key>
		<string>home_tabbar_32x32_</string>
		<key>HLpic</key>
		<string>home_tabbar_press_32x32_</string>
		<key>Nightimage</key>
		<string>home_tabbar_night_32x32_</string>
		<key>NightimageHL</key>
		<string>home_tabbar_press_night_32x32_</string>
		<key>title</key>
		<string>首页</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>DZCXiGuaVC</string>
		<key>Image</key>
		<string>video_tabbar_32x32_</string>
		<key>HLpic</key>
		<string>video_tabbar_press_32x32_</string>
		<key>Nightimage</key>
		<string>video_tabbar_night_32x32_</string>
		<key>NightimageHL</key>
		<string>video_tabbar_press_night_32x32_</string>
		<key>title</key>
		<string>视频</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>DZCPulishVC</string>
		<key>Image</key>
		<string>feed_publish_44x44_</string>
		<key>HLpic</key>
		<string>feed_publish_press_44x44_</string>
		<key>Nightimage</key>
		<string>feed_publish_night_44x44_</string>
		<key>NightimageHL</key>
		<string>feed_publish_press_night_44x44_</string>
		<key>title</key>
		<string></string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>DZCHeadNewsVC</string>
		<key>Image</key>
		<string>weitoutiao_tabbar_32x32_</string>
		<key>HLpic</key>
		<string>weitoutiao_tabbar_press_32x32_</string>
		<key>Nightimage</key>
		<string>weitoutiao_tabbar_night_32x32_</string>
		<key>NightimageHL</key>
		<string>weitoutiao_tabbar_press_night_32x32_</string>
		<key>title</key>
		<string>微头条</string>
	</dict>
	<dict>
		<key>ViewController</key>
		<string>DZCHuoShanVC</string>
		<key>Image</key>
		<string>huoshan_tabbar_32x32_</string>
		<key>HLpic</key>
		<string>huoshan_tabbar_press_32x32_</string>
		<key>Nightimage</key>
		<string>huoshan_tabbar_night_32x32_</string>
		<key>NightimageHL</key>
		<string>huoshan_tabbar_press_night_32x32_</string>
		<key>title</key>
		<string>火山视频</string>
	</dict>
</array>
</plist>
