<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCDiscoverVideoController</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCPostVideoController</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DailyVideoController</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCCommunityVideoController</string>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCAdventVideoController</string>
		<key>id</key>
		<string>14</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCLiveHoodVideoController</string>
		<key>id</key>
		<string>36</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCAnimationVideoController</string>
		<key>id</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>FunnyVideoController</string>
		<key>id</key>
		<string>28</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>YummyVideoController</string>
		<key>id</key>
		<string>4</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCCreativieVideoController</string>
		<key>id</key>
		<string>2</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>SportsVideoController</string>
		<key>id</key>
		<string>18</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>MusicVIdeoController</string>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>PetsVideoController</string>
		<key>id</key>
		<string>26</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCStoryVideoController</string>
		<key>id</key>
		<string>12</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>SecinceVideoController</string>
		<key>id</key>
		<string>32</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>TripVideoController</string>
		<key>id</key>
		<string>16</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>FilmVideoController</string>
		<key>id</key>
		<string>8</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>DZCRecirdVideoController</string>
		<key>id</key>
		<string>22</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>GameVIdeoController</string>
		<key>id</key>
		<string>30</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>EntertranmentVideoController</string>
		<key>id</key>
		<string>38</string>
	</dict>
	<dict>
		<key>Viewcontroller</key>
		<string>FashionVideoController</string>
		<key>id</key>
		<string>30</string>
	</dict>
</array>
</plist>
